<!DOCTYPE html>
<html>
  <head>
    <title>MHW Logs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :extra_head %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: 'shared/navbar' %>
    <%= yield :header %>
    <section class="section is-large">
      <%= yield %>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>MHW Logs</strong> made with &hearts; by <a href="https://github.com/kmontag42">Kyle Montag</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
